.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 2.5rem;
}

.discover-main-section .covers-image {
    width: 30vw;
    margin-left: 2rem;
    height: auto;
    max-width: 350px;
}

.icon-section {
    display: flex;
    
}

.icon {
    display: flex;
    flex-direction: column;
    background-color: #202027;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}

.icon img {
    width: 40px;
}

@media (max-width: 800px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
    }
    .discover-main-section .covers-image {
        margin-top: 2rem;
        height: 40vh;
        width: auto;
    }
}

@media screen and (max-width: 560px) {
    .main-footer .container {
        flex-direction: column;
        
        flex-grow: 0;
    }
    body {
        width: 100vw;
        min-width:370px
    }
    #聯繫 {
        margin-left: 18px;
    }
    .discover-main-section {
        margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 437px) {
    .main-header {
        flex-direction: column;
        justify-content: normal;
    }
    .brand-logo {
        margin-top: 20px;
    }
    .main-nav {
        margin-top: 10px;
    }
  } 